In [144]:
import pandas as pd
import re
file_path = "Top Movies.csv"  # Replace with your file path
df = pd.read_csv(file_path)
print(df.info())  # Summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6569 entries, 0 to 6568
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       6569 non-null   object
 1   ReleaseDate                      6569 non-null   object
 2   Movie                            6569 non-null   object
 3   ProductionBudget                 6569 non-null   object
 4   DomesticGross                    6569 non-null   object
 5   WorldwideGross                   6569 non-null   object
 6   Movie URL                        6569 non-null   object
 7   Domestic Box Office              5847 non-null   object
 8   International Box Office         5044 non-null   object
 9   Worldwide Box Office             5044 non-null   object
 10  Est. Domestic DVD Sales          2566 non-null   object
 11  Est. Domestic Blu-ray Sales      2156 non-null   object
 12  Total Est. Domestic Video Sales  2750 non-null   object
 13  Opening Weekend:                 5396 non-null   object
 14  Legs:                            5561 non-null   object
 15  Domestic Share:                  5847 non-null   object
 16  Production Budget:               6568 non-null   object
 17  Theater counts:                  5394 non-null   object
 18  Infl. Adj. Dom. BO               5638 non-null   object
 19  Domestic Releases:               6106 non-null   object
 20  International Releases:          3231 non-null   object
 21  Video Release:                   5353 non-null   object
 22  MPAA Rating:                     6179 non-null   object
 23  Running Time:                    5752 non-null   object
 24  Franchise:                       1423 non-null   object
 25  Comparisons:                     6506 non-null   object
 26  Keywords:                        5685 non-null   object
 27  Source:                          6301 non-null   object
 28  Genre:                           6374 non-null   object
 29  Production Method:               6366 non-null   object
 30  Creative Type:                   6269 non-null   object
 31  Production/Financing Companies:  4200 non-null   object
 32  Production Countries:            6019 non-null   object
 33  Languages:                       5603 non-null   object
dtypes: object(34)
memory usage: 1.7+ MB
None

In [145]:
# Remove the specified columns
df_cleaned = df.drop(columns=["Comparisons:","Production\xa0Budget:"])

# Display the cleaned DataFrame
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6569 entries, 0 to 6568
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       6569 non-null   object
 1   ReleaseDate                      6569 non-null   object
 2   Movie                            6569 non-null   object
 3   ProductionBudget                 6569 non-null   object
 4   DomesticGross                    6569 non-null   object
 5   WorldwideGross                   6569 non-null   object
 6   Movie URL                        6569 non-null   object
 7   Domestic Box Office              5847 non-null   object
 8   International Box Office         5044 non-null   object
 9   Worldwide Box Office             5044 non-null   object
 10  Est. Domestic DVD Sales          2566 non-null   object
 11  Est. Domestic Blu-ray Sales      2156 non-null   object
 12  Total Est. Domestic Video Sales  2750 non-null   object
 13  Opening Weekend:                 5396 non-null   object
 14  Legs:                            5561 non-null   object
 15  Domestic Share:                  5847 non-null   object
 16  Theater counts:                  5394 non-null   object
 17  Infl. Adj. Dom. BO               5638 non-null   object
 18  Domestic Releases:               6106 non-null   object
 19  International Releases:          3231 non-null   object
 20  Video Release:                   5353 non-null   object
 21  MPAA Rating:                     6179 non-null   object
 22  Running Time:                    5752 non-null   object
 23  Franchise:                       1423 non-null   object
 24  Keywords:                        5685 non-null   object
 25  Source:                          6301 non-null   object
 26  Genre:                           6374 non-null   object
 27  Production Method:               6366 non-null   object
 28  Creative Type:                   6269 non-null   object
 29  Production/Financing Companies:  4200 non-null   object
 30  Production Countries:            6019 non-null   object
 31  Languages:                       5603 non-null   object
dtypes: object(32)
memory usage: 1.6+ MB
None

In [146]:
# Rename the columns
new_column_names = {
    "Unnamed: 0": "id",
    "ReleaseDate": "Release Date",
    "Movie": "Movie Name",
    "ProductionBudget": "Production Budget (USD)",
    "DomesticGross": "Domestic Gross (USD)",
    "WorldwideGross": "Worldwide Gross (USD)",
    "Movie URL": "Movie URL",
    "Domestic Box Office": "Domestic Box Office (USD)",
    "International Box Office": "International Box Office (USD)",
    "Worldwide Box Office": "Worldwide Box Office (USD)",
    "Est. Domestic DVD Sales": "Est. Domestic DVD Sales (USD)",
    "Est. Domestic Blu-ray Sales": "Est. Domestic Blu-ray Sales (USD)",
    "Total Est. Domestic Video Sales": "Total Est. Domestic Video Sales (USD)",
    "Opening\xa0Weekend:": "Opening Weekend (USD)",
    "Legs:": "Legs",
    "Domestic Share:": "Domestic Share Percentage",
    "Theater counts:": "Theater counts",
    "Infl. Adj. Dom. BO": "Infl. Adj. Dom. BO (USD)",
    "Domestic Releases:": "Domestic Releases",
    "International Releases:": "International Releases",
    "Video\xa0Release:": "Video Release",
    "MPAA\xa0Rating:": "MPAA Rating",
    "Running Time:": "Running Time (minutes)",
    "Franchise:": "Franchise",
    "Keywords:": "Keywords",
    "Source:": "Source",
    "Genre:": "Genre",
    "Production\xa0Method:": "Production Method",
    "Creative\xa0Type:": "Creative Type",
    "Production/Financing Companies:": "Production/Financing Companies",
    "Production Countries:": "Production Countries",
    "Languages:": "Languages"
}

df_cleaned.rename(columns=new_column_names, inplace=True)

# Display the updated columns to confirm the renaming
print(df_cleaned.columns.tolist())
print(df_cleaned.info())

['id', 'Release Date', 'Movie Name', 'Production Budget (USD)', 'Domestic Gross (USD)', 'Worldwide Gross (USD)', 'Movie URL', 'Domestic Box Office (USD)', 'International Box Office (USD)', 'Worldwide Box Office (USD)', 'Est. Domestic DVD Sales (USD)', 'Est. Domestic Blu-ray Sales (USD)', 'Total Est. Domestic Video Sales (USD)', 'Opening Weekend (USD)', 'Legs', 'Domestic Share Percentage', 'Theater counts', 'Infl. Adj. Dom. BO (USD)', 'Domestic Releases', 'International Releases', 'Video Release', 'MPAA Rating', 'Running Time (minutes)', 'Franchise', 'Keywords', 'Source', 'Genre', 'Production Method', 'Creative Type', 'Production/Financing Companies', 'Production Countries', 'Languages']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6569 entries, 0 to 6568
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     6569 non-null   object
 1   Release Date                           6569 non-null   object
 2   Movie Name                             6569 non-null   object
 3   Production Budget (USD)                6569 non-null   object
 4   Domestic Gross (USD)                   6569 non-null   object
 5   Worldwide Gross (USD)                  6569 non-null   object
 6   Movie URL                              6569 non-null   object
 7   Domestic Box Office (USD)              5847 non-null   object
 8   International Box Office (USD)         5044 non-null   object
 9   Worldwide Box Office (USD)             5044 non-null   object
 10  Est. Domestic DVD Sales (USD)          2566 non-null   object
 11  Est. Domestic Blu-ray Sales (USD)      2156 non-null   object
 12  Total Est. Domestic Video Sales (USD)  2750 non-null   object
 13  Opening Weekend (USD)                  5396 non-null   object
 14  Legs                                   5561 non-null   object
 15  Domestic Share Percentage              5847 non-null   object
 16  Theater counts                         5394 non-null   object
 17  Infl. Adj. Dom. BO (USD)               5638 non-null   object
 18  Domestic Releases                      6106 non-null   object
 19  International Releases                 3231 non-null   object
 20  Video Release                          5353 non-null   object
 21  MPAA Rating                            6179 non-null   object
 22  Running Time (minutes)                 5752 non-null   object
 23  Franchise                              1423 non-null   object
 24  Keywords                               5685 non-null   object
 25  Source                                 6301 non-null   object
 26  Genre                                  6374 non-null   object
 27  Production Method                      6366 non-null   object
 28  Creative Type                          6269 non-null   object
 29  Production/Financing Companies         4200 non-null   object
 30  Production Countries                   6019 non-null   object
 31  Languages                              5603 non-null   object
dtypes: object(32)
memory usage: 1.6+ MB
None

In [147]:
# Define the new column order
new_column_order = [
    "id",
    "Movie Name",
    "Release Date",
    "Production Budget (USD)",
    "Domestic Gross (USD)",
    "Worldwide Gross (USD)",
    "Domestic Box Office (USD)",
    "International Box Office (USD)",
    "Worldwide Box Office (USD)",
    "Est. Domestic DVD Sales (USD)",
    "Est. Domestic Blu-ray Sales (USD)",
    "Total Est. Domestic Video Sales (USD)",
    "Opening Weekend (USD)",
    "Legs",
    "Infl. Adj. Dom. BO (USD)",
    "Video Release",
    "MPAA Rating",
    "Running Time (minutes)",
    "Franchise",
    "Keywords",
    "Source",
    "Genre",
    "Production Method",
    "Creative Type",
    "Production/Financing Companies",
    "Production Countries",
    "Languages",
    "Domestic Releases",
    "International Releases",
    "Theater counts",
    "Domestic Share Percentage",
    "Movie URL"
]

# Reorder the columns
df_cleaned = df_cleaned[new_column_order]

# Display the first few rows of the reordered DataFrame
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6569 entries, 0 to 6568
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     6569 non-null   object
 1   Movie Name                             6569 non-null   object
 2   Release Date                           6569 non-null   object
 3   Production Budget (USD)                6569 non-null   object
 4   Domestic Gross (USD)                   6569 non-null   object
 5   Worldwide Gross (USD)                  6569 non-null   object
 6   Domestic Box Office (USD)              5847 non-null   object
 7   International Box Office (USD)         5044 non-null   object
 8   Worldwide Box Office (USD)             5044 non-null   object
 9   Est. Domestic DVD Sales (USD)          2566 non-null   object
 10  Est. Domestic Blu-ray Sales (USD)      2156 non-null   object
 11  Total Est. Domestic Video Sales (USD)  2750 non-null   object
 12  Opening Weekend (USD)                  5396 non-null   object
 13  Legs                                   5561 non-null   object
 14  Infl. Adj. Dom. BO (USD)               5638 non-null   object
 15  Video Release                          5353 non-null   object
 16  MPAA Rating                            6179 non-null   object
 17  Running Time (minutes)                 5752 non-null   object
 18  Franchise                              1423 non-null   object
 19  Keywords                               5685 non-null   object
 20  Source                                 6301 non-null   object
 21  Genre                                  6374 non-null   object
 22  Production Method                      6366 non-null   object
 23  Creative Type                          6269 non-null   object
 24  Production/Financing Companies         4200 non-null   object
 25  Production Countries                   6019 non-null   object
 26  Languages                              5603 non-null   object
 27  Domestic Releases                      6106 non-null   object
 28  International Releases                 3231 non-null   object
 29  Theater counts                         5394 non-null   object
 30  Domestic Share Percentage              5847 non-null   object
 31  Movie URL                              6569 non-null   object
dtypes: object(32)
memory usage: 1.6+ MB
None

In [148]:
# Function to extract the dollar amount from the "Opening Weekend (USD)" column
def extract_opening_weekend(value):
    if isinstance(value, str):
        # Use regular expression to match the dollar amount before the parentheses
        match = re.match(r'(\$[\d,]+)', value)
        if match:
            return match.group(1)  # Return the matched dollar amount
    return value  # Return the value as is if it's not a string or doesn't match the pattern

# Apply the function to the "Opening Weekend (USD)" column
df_cleaned['Opening Weekend (USD)'] = df_cleaned['Opening Weekend (USD)'].apply(extract_opening_weekend)

# Check the result
print(df_cleaned[['Opening Weekend (USD)']].head())

  Opening Weekend (USD)
0          $247,966,675
1          $134,100,226
2           $60,368,101
3          $357,115,007
4                   NaN

In [149]:
# Identify columns with "(USD)" in their names
usd_columns = [col for col in df_cleaned.columns if "(USD)" in col]

# Remove the dollar sign "$" from all entries in those columns
for col in usd_columns:
    df_cleaned[col] = df_cleaned[col].astype(str).str.replace(',', '').str.replace('$', '', regex=False).str.strip()

df_cleaned[usd_columns] = df_cleaned[usd_columns].apply(pd.to_numeric, errors='coerce')

# Display the first few rows of the modified DataFrame to confirm
print(df_cleaned[usd_columns].head(1))

   Production Budget (USD)  Domestic Gross (USD)  Worldwide Gross (USD)  \
0                533200000             936662225             2056046835

   Domestic Box Office (USD)  International Box Office (USD)  \
0                936662225.0                    1.119385e+09

   Worldwide Box Office (USD)  Est. Domestic DVD Sales (USD)  \
0                2.056047e+09                     39601100.0

   Est. Domestic Blu-ray Sales (USD)  Total Est. Domestic Video Sales (USD)  \
0                        151559711.0                            191160811.0

   Opening Weekend (USD)  Infl. Adj. Dom. BO (USD)
0            247966675.0              1.191448e+09

In [150]:
# Remove the word "minutes" from the "Running Time (minutes)" column
df_cleaned["Running Time (minutes)"] = df_cleaned["Running Time (minutes)"].str.replace("minutes", "").str.strip()

# Display the first few rows of the modified column to confirm
print(df_cleaned["Running Time (minutes)"].head(3))

0    136
1    190
2    142
Name: Running Time (minutes), dtype: object

In [151]:
# Replace "/" with "," in the "Production Method" column
df_cleaned["Production Method"] = df_cleaned["Production Method"].str.replace("/", ",")

# Display the first few rows of the modified column to confirm
print(df_cleaned["Production Method"].head(3))

0    Animation,Live Action
1    Animation,Live Action
2              Live Action
Name: Production Method, dtype: object

In [152]:
# Replace entries in the "MPAA Rating" column based on the specified conditions
df_cleaned["MPAA Rating"] = df_cleaned["MPAA Rating"].apply(
    lambda x: ("R" if x.startswith("R") else
               "PG-13" if x.startswith("PG-13") else
               "G" if x.startswith("G") else
               "PG" if x.startswith("PG") else x) if isinstance(x, str) else x
)


# Display the first few rows of the modified column to confirm
print(df_cleaned["MPAA Rating"].head(200))

0      PG-13
1      PG-13
2      PG-13
3      PG-13
4        NaN
       ...
195       PG
196    PG-13
197    PG-13
198    PG-13
199    PG-13
Name: MPAA Rating, Length: 200, dtype: object

In [153]:
# Sample data to work with
# df_cleaned = pd.read_csv('your_file.csv')

# Function to clean the "Video Release" column by removing everything from "by" onward
def clean_by_part(value):
    if isinstance(value, str):
        # Use regular expression to remove everything starting from "by" (including "by" itself)
        return re.sub(r'\s*by.*', '', value)
    return value  # Return value as is if it's not a string (NaN or other non-string)

# Apply the function to the "Video Release" column
df_cleaned['Video Release'] = df_cleaned['Video Release'].apply(clean_by_part)

# Check the result
print(df_cleaned[['Video Release']].head())

       Video Release
0    April 1st, 2016
1   March 28th, 2023
2  August 29th, 2023
3    July 30th, 2019
4                NaN

In [154]:
def remove_ordinal_suffix(date_str):
    if isinstance(date_str, str):
        # Remove ordinal suffixes like 'st', 'nd', 'rd', 'th'
        date_str = re.sub(r'(\d+)(st|nd|rd|th)', r'\1', date_str)
    return date_str

# Apply the function to remove ordinal suffixes
df_cleaned['Video Release'] = df_cleaned['Video Release'].apply(remove_ordinal_suffix)

# Convert the cleaned column to a datetime format
df_cleaned['Video Release'] = pd.to_datetime(df_cleaned['Video Release'], errors='coerce')

# Check the result
print(df_cleaned[['Video Release']].head())

  Video Release
0    2016-04-01
1    2023-03-28
2    2023-08-29
3    2019-07-30
4           NaT

In [155]:
print(df_cleaned['Video Release'].dtype)

datetime64[ns]

In [156]:
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6569 entries, 0 to 6568
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     6569 non-null   object
 1   Movie Name                             6569 non-null   object
 2   Release Date                           6569 non-null   object
 3   Production Budget (USD)                6569 non-null   int64
 4   Domestic Gross (USD)                   6569 non-null   int64
 5   Worldwide Gross (USD)                  6569 non-null   int64
 6   Domestic Box Office (USD)              5847 non-null   float64
 7   International Box Office (USD)         5044 non-null   float64
 8   Worldwide Box Office (USD)             5044 non-null   float64
 9   Est. Domestic DVD Sales (USD)          2566 non-null   float64
 10  Est. Domestic Blu-ray Sales (USD)      2156 non-null   float64
 11  Total Est. Domestic Video Sales (USD)  2750 non-null   float64
 12  Opening Weekend (USD)                  5396 non-null   float64
 13  Legs                                   5561 non-null   object
 14  Infl. Adj. Dom. BO (USD)               5638 non-null   float64
 15  Video Release                          5338 non-null   datetime64[ns]
 16  MPAA Rating                            6179 non-null   object
 17  Running Time (minutes)                 5752 non-null   object
 18  Franchise                              1423 non-null   object
 19  Keywords                               5685 non-null   object
 20  Source                                 6301 non-null   object
 21  Genre                                  6374 non-null   object
 22  Production Method                      6366 non-null   object
 23  Creative Type                          6269 non-null   object
 24  Production/Financing Companies         4200 non-null   object
 25  Production Countries                   6019 non-null   object
 26  Languages                              5603 non-null   object
 27  Domestic Releases                      6106 non-null   object
 28  International Releases                 3231 non-null   object
 29  Theater counts                         5394 non-null   object
 30  Domestic Share Percentage              5847 non-null   object
 31  Movie URL                              6569 non-null   object
dtypes: datetime64[ns](1), float64(8), int64(3), object(20)
memory usage: 1.6+ MB
None

In [157]:
import pandas as pd

# Apply the conversion to the "Release Date" column
df_cleaned['Release Date'] = pd.to_datetime(df_cleaned['Release Date'], format='%d-%b-%y', errors='coerce')

# Check the result
print(df_cleaned[['Release Date']].head())

  Release Date
0   2015-12-16
1   2022-12-09
2   2023-06-28
3   2019-04-23
4   2025-05-21

In [158]:
# Function to extract the percentage value
def extract_percentage(value):
    if isinstance(value, str):
        # Use regular expression to extract the numeric part before the '%' symbol
        match = re.match(r'([\d\.]+)%', value)
        if match:
            return float(match.group(1))  # Convert the matched string to a float
    return value  # Return the value as is if it's not a string or doesn't match the pattern

# Apply the function to the "Domestic Share Percentage" column
df_cleaned['Domestic Share Percentage'] = df_cleaned['Domestic Share Percentage'].apply(extract_percentage)

# Check the result
print(df_cleaned[['Domestic Share Percentage']].head(10))

   Domestic Share Percentage
0                       45.6
1                       29.5
2                       45.4
3                       31.2
4                        NaN
5                       23.1
6                       32.9
7                       20.5
8                       54.4
9                       33.1

In [159]:
# Function to extract the numeric value from the "Legs" column
def extract_legs(value):
    if isinstance(value, str):
        # Use regular expression to capture the numeric part before any non-numeric characters
        match = re.match(r'([\d\.]+)', value)
        if match:
            return float(match.group(1))  # Convert the matched string to a float
    return value  # Return the value as is if it's not a string or doesn't match the pattern

# Apply the function to the "Legs" column
df_cleaned['Legs'] = df_cleaned['Legs'].apply(extract_legs)

# Check the result
print(df_cleaned[['Legs']].head(10))

   Legs
0  3.78
1  5.10
2  2.89
3  2.40
4   NaN
5  2.67
6  2.40
7  2.18
8  2.53
9  2.63

In [160]:
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6569 entries, 0 to 6568
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     6569 non-null   object
 1   Movie Name                             6569 non-null   object
 2   Release Date                           6420 non-null   datetime64[ns]
 3   Production Budget (USD)                6569 non-null   int64
 4   Domestic Gross (USD)                   6569 non-null   int64
 5   Worldwide Gross (USD)                  6569 non-null   int64
 6   Domestic Box Office (USD)              5847 non-null   float64
 7   International Box Office (USD)         5044 non-null   float64
 8   Worldwide Box Office (USD)             5044 non-null   float64
 9   Est. Domestic DVD Sales (USD)          2566 non-null   float64
 10  Est. Domestic Blu-ray Sales (USD)      2156 non-null   float64
 11  Total Est. Domestic Video Sales (USD)  2750 non-null   float64
 12  Opening Weekend (USD)                  5396 non-null   float64
 13  Legs                                   5561 non-null   float64
 14  Infl. Adj. Dom. BO (USD)               5638 non-null   float64
 15  Video Release                          5338 non-null   datetime64[ns]
 16  MPAA Rating                            6179 non-null   object
 17  Running Time (minutes)                 5752 non-null   object
 18  Franchise                              1423 non-null   object
 19  Keywords                               5685 non-null   object
 20  Source                                 6301 non-null   object
 21  Genre                                  6374 non-null   object
 22  Production Method                      6366 non-null   object
 23  Creative Type                          6269 non-null   object
 24  Production/Financing Companies         4200 non-null   object
 25  Production Countries                   6019 non-null   object
 26  Languages                              5603 non-null   object
 27  Domestic Releases                      6106 non-null   object
 28  International Releases                 3231 non-null   object
 29  Theater counts                         5394 non-null   object
 30  Domestic Share Percentage              5847 non-null   float64
 31  Movie URL                              6569 non-null   object
dtypes: datetime64[ns](2), float64(10), int64(3), object(17)
memory usage: 1.6+ MB
None

In [161]:
df_cleaned.loc[df_cleaned['id'] == '51', 'MPAA Rating'] = 'PG-13'

In [162]:
# Save the cleaned dataframe to a CSV file
df_cleaned.to_csv('Top Movies Cleaned.csv', index=False)

# Confirm that the file has been saved
print("DataFrame has been saved to 'Top Movies Cleaned.csv'")

DataFrame has been saved to 'Top Movies Cleaned.csv'